@{
    ViewData["Title"] = "PLAYLIST";
}

<h2>PLAYLIST</h2>

<button type="button" class="btn btn-default" data-bind="click: clearPlaylist, clickBubble: false">
    <i class="fas fa-eraser fa-lg"></i> CLEAR
</button>

<div data-bind="foreach: playlist" class="list-group dragSortable">
    <div class="list-group-item d-flex justify-content-between align-items-center folderItemCell dragItem"
         draggable="true" data-bind="event:{ dragover: $parent.dragOver,
                          dragenter: $parent.dragEnter,
                          dragleave: $parent.dragLeave,
                          drop: $parent.dragDrop,
                          dragstart: $parent.dragStart,
                          dragend: $parent.dragEnd }">
        <span data-bind="text: title"></span>
        <span class="float-right">
            <button type="button" class="btn btn-default"
                    data-bind="click: $parent.removeEntityFromPlaylist, clickBubble: false">
                <i class="fas fa-trash-alt"></i>
            </button>
        </span>
    </div>
</div>


@section Scripts {
<script type="text/javascript" src="~/js/PlaylistViewModel.js"></script>
}