<div class="playControls">

    <div class="track-info">
        <div data-bind="with: currentPlayingMedia">
            <!-- ko if: $data.title -->
            <h2 data-bind="text: title"></h2>
            <!-- /ko -->
            <!-- ko if: $data.artist -->
            <h3 data-bind="text: artist"></h3>
            <!-- /ko -->
            <!-- ko if: $data.album -->
            <h3 data-bind="text: album"></h3>
            <!-- /ko -->
            <!-- ko if: $data.originalTrackNumber -->
            <p data-bind="text: originalTrackNumber"></p>
            <!-- /ko -->
            <!-- ko if: $data.duration -->
            <p data-bind="text: duration"></p>
            <!-- /ko -->
            <!-- ko if: $data.bitrate -->
            <p data-bind="text: bitrate"></p>
            <!-- /ko -->
            <!-- ko if: $data.res -->
            <p data-bind="text: res"></p>
            <!-- /ko -->
            <!-- ko if: $data.sampleFrequency -->
            <p data-bind="text: sampleFrequency"></p>
            <!-- /ko -->
            <!-- ko if: $data.size -->
            <p data-bind="text: size"></p>
            <!-- /ko -->
            <!-- ko if: $data.genre -->
            <p data-bind="text: genre"></p>
            <!-- /ko -->
            <!-- ko if: $data.creator -->
            <p data-bind="text: creator"></p>
            <!-- /ko -->
        </div>
    </div>
    <div class="progress" style="height: 5px;">
        <div class="progress-bar" role="progressbar" data-bind="style: { width: trackProgress() }"></div>
    </div>
    <div data-bind="text: trackTimePassed"></div>
    <div data-bind="text: trackTimeRemaining"></div>
    <div>
        <button type="button" class="btn btn-default" data-bind="click: shuffle, clickBubble: false" id="shuffleButton">
            <i class="fas fa-random"></i>
        </button>

        <button type="button" class="btn btn-default" data-bind="click: repeat, clickBubble: false" id="repeatButton">
            <i class="fas fa-recycle"></i>
        </button>
    </div>

    <div>
        <button type="button" class="btn btn-default" data-bind="click: backward, clickBubble: false">
            <i class="fas fa-step-backward"></i>
        </button>

        <button type="button" class="btn btn-default" data-bind="click: rewind, clickBubble: false">
            <i class="fas fa-undo-alt"></i>
        </button>

        <!-- ko if: playbackState() == PLAYBACK_STATES.PAUSED || playbackState() == PLAYBACK_STATES.STOPPED -->
        <button type="button" class="btn btn-default" data-bind="click: play, clickBubble: false" id="pauseButton">
            <i class="fas fa-play fa-lg"></i>
        </button>
        <!-- /ko -->

        <!-- ko if: playbackState() == PLAYBACK_STATES.PLAYING -->
        <button type="button" class="btn btn-default" data-bind="click: pause, clickBubble: false" id="playButton">
            <i class="fas fa-pause fa-lg"></i>
        </button>
        <!-- /ko -->

        <!-- ko if: playbackState() == PLAYBACK_STATES.PAUSED || playbackState() == PLAYBACK_STATES.PLAYING -->
        <button type="button" class="btn btn-default" data-bind="click: stop, clickBubble: false" id="stopButton">
            <i class="fas fa-stop fa-lg"></i>
        </button>
        <!-- /ko -->

        <button type="button" class="btn btn-default" data-bind="click: seekahead, clickBubble: false">
            <i class="fas fa-redo-alt"></i>
        </button>

        <button type="button" class="btn btn-default" data-bind="click: forward, clickBubble: false">
            <i class="fas fa-step-forward"></i>
        </button>
    </div>

    <div class="slidecontainer">

        <!-- ko ifnot: $data.volume.muted -->
        <button type="button" class="btn btn-default" data-bind="click: mute, clickBubble: false" id="muteButton">
            <i class="fas fa-volume-up fa-lg"></i>
        </button>
        <!-- /ko -->
        <!-- ko if: $data.volume.muted -->
        <button type="button" class="btn btn-default" data-bind="click: unmute, clickBubble: false" id="unmuteButton">
            <i class="fas fa-volume-mute fa-lg"></i>
        </button>
        <!-- /ko -->
        <input type="range" min="0" max="100" data-bind="value: volume.level, valueUpdate: 'keyup'" class="slider"
            id="volumeSlider">
        <div data-bind="text: volume.level"></div>
    </div>
</div>